.section-commitment {
  padding: 8px 0 250px;
  @include media-breakpoint-up(md) {
    padding: 19px 0 310px;
  }
  .h2 {
    text-align: left;
    @include media-breakpoint-up(md) {
      text-align: center;
    }
  }
  .description {
    text-align: left;
    margin-top: 18px;
    @include media-breakpoint-up(md) {
      text-align: center;
      margin-top: 29px;
    }
  }

  .commitment-list {
    list-style: none;
    counter-reset: my-awesome-counter;
    @include media-breakpoint-up(md) {
      padding-right: 20px;
      padding-top: 5px;
    }
    .commitment-item {
      position: relative;
      margin-top: 51px;
      counter-increment: my-awesome-counter;
      @include media-breakpoint-up(md) {
        margin-top: 80px;
        padding: 0 0 0 228px;
      }
      &::before {
        content: counter(my-awesome-counter);
        font-family: "Fredoka One";
        font-size: 38px;
        line-height: 1;
        position: absolute;
        top: -5px;
        right: 0px;
        @include media-breakpoint-up(md) {
          font-size: 88px;
          background: rgba(0, 0, 0, 0.7);
          border: 21px solid #0b1906;
          box-sizing: border-box;
          border-radius: 160px;
          top: 50%;
          left: -0;
          width: 178px;
          height: 178px;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translate(0, -50%);
        }
      }

      .commitment-name {
        font-family: "Fredoka One";
        font-size: 28px;
        line-height: 1.21;
        margin-bottom: 10px;
        @include media-breakpoint-up(md) {
          margin-bottom: 20px;
        }
      }
      .commitment-description {
        font-size: 14px;
        line-height: 1.35;
        @include media-breakpoint-up(md) {
          font-size: 16px;
          line-height: 1.38;
        }
      }
    }
  }
}
